<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
	      <tr>
		      <th>IP</th>
		      <th>Device Type</th>
		      <th>Up Time</th>
		      <th>Describe</th>
          <th>edit</th>
	      </tr>
	    </thead>
      <tbody>
        <% for (let info of list) { %>
        <tr>
          <td><%= info.ip %></td>
          <td><%= info.name %></td>
          <td><%= info.uptime %></td>
          <td><%= info.full %></td>
          <td><a href="<%= `/edit/${info.ip}` %>">edit</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
